.vscode/**
!.vscode/launch.json
!.vscode/tasks.json
.git/**
.gitignore
.yarnrc
npm-debug.log*
yarn-error.log*
**/*.ts
**/*.map
.nyc_output
coverage
node_modules/**
.vscode-test/**
**/.eslintrc.json
**/*.vsix
.github/**
**/.DS_Store
**/Thumbs.db